/CommercialBLL/bin/
/CommercialBLL/obj/
/CommercialBLL/Properties/
/CommercialBO/bin/
/CommercialBO/obj/
/CommercialBO/Properties/
/CommercialDAL/bin/
/CommercialDAL/obj/
/CommercialDAL/Properties/
/CommercialGUI/bin/
/CommercialGUI/obj/
/CommercialGUI/Properties/
/.vs/